# Ohne .env wird automatisch ./config verwendet.
# Unraid:
CONFIG_PATH=/mnt/user/appdata/subscription-reminder

# Andere Linux-Server, zum Beispiel:
# CONFIG_PATH=/opt/subscription-reminder

TZ=Europe/Berlin
