# Unraid:
CONFIG_PATH=/mnt/user/appdata/subscription-reminder

# Andere Linux-Server, zum Beispiel:
# CONFIG_PATH=./data
# CONFIG_PATH=/opt/subscription-reminder

HOST_PORT=13000
SUBSCRIPTION_REMINDER_IMAGE=ghcr.io/maomao63/subscription-reminder:latest
